.heroCardContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  overflow: hidden;
}

.heroCardSpacing {
  width: 100%;
  max-width: 90rem;
}

.bigCardsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.cardContainerBig {
  position: relative;
  width: calc(100% - 5px);
}

.bigCard {
  height: 600px;
  width: 100%;
  background-color: rgb(235, 235, 235);
  position: relative;
  cursor: pointer;
  object-fit: cover;
}

.cardContainerWide {
  position: relative;
  width: 100%;
  height: 400px;
}

.wideCard {
  width: 100%;
  height: 100%;
  background-color: rgb(235, 235, 235);
  position: relative;
  cursor: pointer;
  object-fit: cover;
}

.cardTitle {
  font-family: "Italiana";
  font-size: 7em;
  text-transform: uppercase;
  color: white;
  position: absolute;
  left: 40px;
  bottom: 40px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .cardTitle {
    font-size: 3em;
  }

  .bigCardsContainer {
    flex-direction: column;
  }

  .cardContainerBig {
    height: 275px;
    overflow: hidden;
    margin-bottom: 15px;
    width: 100%;
  }

  .cardContainerWide {
    height: 150px;
    margin-top: -5px;
  }

  .bigCard {
    height: 100%;
  }
}
