.heroCardContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.heroCardSpacing {
  width: 100%;
  max-width: 90rem;
}

.bigCardsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.cardContainerBig {
  position: relative;
  width: calc(100% - 5px);
}

.bigCard {
  height: 600px;
  width: 100%;
  background-color: rgb(235, 235, 235);
  position: relative;
  cursor: pointer;
  object-fit: cover;
}

.cardContainerWide {
  position: relative;
  width: 100%;
  height: 400px;
}

.wideCard {
  width: 100%;
  height: 100%;
  background-color: rgb(235, 235, 235);
  position: relative;
  cursor: pointer;
  object-fit: cover;
}

.cardTitle {
  font-family: "Italiana";
  font-size: 96px;
  text-transform: uppercase;
  color: white;
  position: absolute;
  left: 40px;
  bottom: 40px;
  font-weight: 400;
}
