.heroCardContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  /* padding: 0 20px; */
  overflow: hidden;
}

.heroCardSpacing {
  width: 100%;
  max-width: 100%;
}

.bigCardsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cardContainerBig {
  position: relative;
  /* width: calc(100% - 5px); */
  background-color: #efefef;
  height: 600px;
}

.bigCard {
  height: 600px;
  width: 100%;
  /* background-color: rgb(235, 235, 235); */
  background-color: #efefef;
  position: relative;
  cursor: pointer;
  object-fit: cover;
}

.cardContainerWide {
  position: relative;
  width: 100%;
  height: 400px;
}

.wideCard {
  width: 100%;
  height: 100%;
  background-color: rgb(235, 235, 235);
  position: relative;
  cursor: pointer;
  object-fit: cover;
}

/* .cardContainerBig:hover .cardTitleUnderline {
  width: 100%;
}

.cardContainerWide:hover .cardTitleUnderline {
  width: 100%;
} */

.cardTitleContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: absolute;
  left: 40px;
  bottom: 40px;
}

.cardTitle {
  font-family: var(--jost-font);
  font-size: 2em;
  text-transform: uppercase;
  /* color: #242527; */
  color: white;
  font-weight: 400;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cardTitleUnderline {
  height: 2px;
  width: 0%;
  background-color: #242527;
  transition: 0.2s;
}

@media (max-width: 768px) {
  .cardTitle {
    font-size: 1.5em;
    left: 20px;
    bottom: 20px;
    font-weight: 500;
  }

  .bigCardsContainer {
    flex-direction: column;
  }

  .cardContainerBig {
    height: 275px;
    overflow: hidden;
    margin-bottom: 15px;
    width: 100%;
    margin-bottom: 0;
  }

  .cardContainerWide {
    height: 150px;
    margin-top: -5px;
  }

  .bigCard {
    height: 100%;
  }

  .cardTitleContainer {
    left: 25px;
    bottom: 16px;
  }
}
