.normalCatContainer {
  width: 100%;
  /* height: 100%; */
  padding: 0 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
}

.normalCatSpacing {
  width: 100%;
  height: 100%;
  max-width: 90rem;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.filterSectionSpacing {
  width: auto;
  height: auto;
  padding: 2em;
}

.filterSection {
  width: 100%;
  height: fit-content;
  border-right: 2px solid rgb(224, 224, 224);
  overflow: hidden;
}

.itemDetailSection {
  min-height: 100vh;
  width: 100%;
}

.itemListSection {
  height: fit-content;
  width: 100%;
  flex: 1;
  padding: 0 4em;
  display: grid;
  /* grid-template-rows: 50px 50px 50px 50px; */
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
  align-items: center;
}

@for $i from 1 through 150 {
  .listItem:nth-child(#{$i}) {
    animation-delay: 100ms * $i;
  }
}

.sectionHeading {
  font-family: var(--jost-font);
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 40px;
}

@keyframes itemRenderAnimation {
  0% {
    opacity: 0;
    transform: translateY(+60px);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

.listItem {
  width: 100%;
  margin-right: 30px;
  cursor: pointer;
  animation: itemRenderAnimation 500ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.listItem:last-child {
  margin-right: 0;
}

.listItemImage {
  // aspect-ratio: 2 / 3;
  width: 100%;
  height: 100%;
  background-color: rgb(235, 235, 235);
  object-fit: contain;
}

.listItemDetail {
  padding: 10px 0px;
  font-family: var(--jost-font);

  font-size: 14px;
  font-weight: 400;
}

.sectionFilterMobile {
  // display: none;
  width: 100%;
  padding: 10px 4em;
  display: flex;
}

.filterBtn {
  display: flex;
  margin-left: auto;
  align-items: center;
  display: none;
  cursor: pointer;
}

.filterIcon {
  margin-left: auto;
  height: 15px;
  width: 20px;
  margin-right: 7px;
}

.filterText {
  font-family: var(--jost-font);

  font-size: 14px;
}

@media (max-width: 768px) {
  .normalCatSpacing {
    flex-direction: column;
  }
  .filterSection {
    border: none;
  }
  .itemListSection {
    padding: 10px;
    grid-template-columns: 1fr 1fr;
  }

  .sectionHeading {
    margin-bottom: 0;
  }

  .filterSectionSpacing {
    padding: 0;
  }
  .sectionFilterMobile {
    padding: 10px 10px;
    margin-bottom: 0px;
    margin-top: 20px;
  }
  .filterText {
    font-size: 16px;
  }
}

@media (max-width: 1110px) {
  .normalCatSpacing {
    flex-direction: column;
  }
  .filterSectionSpacing {
    height: 0px;
  }
  .filterBtn {
    display: flex;
  }
  .filterSectionSpacing {
    padding: 0;
  }
  .sectionFilterMobile {
    margin-bottom: 25px;
  }
  .normalCatContainer {
    width: auto;
  }
  .sectionFilterMobile {
    width: auto;
  }
  .itemListSection {
    width: auto;
  }
}

@media (max-width: 1367px) {
  .itemListSection {
    // padding: 20px;
  }
}
