.normalCatContainer {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.normalCatSpacing {
  width: 100%;
  height: 100%;
  max-width: 90rem;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.filterSection {
  width: 350px;
  height: 900px;
  border-right: 2px solid rgb(224, 224, 224);
}

.itemListSection {
  height: 100%;
  width: 100%;
  flex: 1;
}

.sectionHeading {
  font-family: "Jost";
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
