.buttonContainer {
  background-color: rgb(245, 245, 245);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 50px;
  width: fit-content;
}

.buttonHover {
  position: absolute;
  color: transparent;
  height: 100%;
  width: 0%;
  background-color: rgb(237, 237, 237);
  left: 0;
  z-index: 69;
  transition: 0.2s;
}

.buttonContainer:hover .buttonHover {
  width: 100%;
}

.buttonContainer:active .buttonHover {
  background-color: rgb(226, 226, 226);
}

.buttonText {
  font-family: var(--jost-font);
  font-size: 14px;
  font-weight: 400;
  z-index: 79;
}

.loadingSvg {
  z-index: 79;
}
