@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: black !important;
  font-size: 18px;
}

input[type="password"] {
  letter-spacing: 0.125em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body,
html,
#__next {
  height: 100%;
  width: 100%;
}

.mainContainer {
  height: 100%;
  width: 100%;
}
