@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html,
#__next {
  height: 100%;
  width: 100%;
}

.mainContainer {
  height: 100%;
  width: 100%;
}
