.headerContainer {
  height: 280px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  /* margin-bottom: 18px; */
  background-color: white;
}

.headerSpacing {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-direction: row;
  /* border-bottom: 3px solid rgb(236, 236, 236); */
  position: relative;
}

.heading {
  font-family: var(--jost-font);
  font-size: 9em;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  color: black;
  /* position: absolute; */
  /* z-index: 999; */
  /* top: 0; */
}

.headingBlack {
  color: black;
  z-index: 998;
}

.userControls {
  /* position: absolute; */
  /* margin-top: auto; */
  /* margin-bottom: auto; */
  /* margin-bottom: 60px; */
  height: fit-content;
  margin-top: 50px;
  /* margin-bottom: 40px; */
  right: 0px;
  display: flex;
  align-items: center;
  margin-right: 13px;
  position: relative;
}

.userControlIcon:last-child {
  margin-right: 0px;
}

.navbarContainer {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  /* position: absolute; */
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.navbarItemContainer {
  width: fit-content;
}

.navbarItem {
  padding: 0 25px;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbarItem:last-child {
  margin-right: 0px;
}

.navbarItemTitle {
  font-weight: 400;
  font-family: var(--jost-font);
  font-size: 15px;
  text-transform: uppercase;
  color: black;
}

.useControlIconSpacing {
  padding: 0 10px;
}

.userControlIcon {
  /* margin-right: 10px; */
  cursor: pointer;
}

.navbarExpandSpacing {
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 40px 100px 0px 100px;
  display: flex;
  flex-direction: row;
}

.navbarExpandContainer {
  position: absolute;
  height: 0px;
  width: 100vw;
  top: 260px;
  background-color: white;
  z-index: 99;
  left: -20px;
  border-bottom: 1px solid rgb(186, 186, 186);
  transition: 0.4s;
  opacity: 0;
  z-index: -99;
  display: flex;
  flex-direction: row;
}

.navbarExpandVisible {
  opacity: 1;
  z-index: 199;
  height: 300px;

  /* height: 300px; */
}

.navSubItemContainer {
  display: grid;
  grid-template-rows: 50px 50px 50px 50px;
  grid-template-columns: 250px 250px;
  margin-right: 30px;
}

.navSubItem {
  padding: 10px;
  margin-bottom: 10px;
  font-family: var(--jost-font);
  font-weight: 400;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.navSubItem:hover .navSubItemHoverEffect {
  width: 100%;
}
.navSubItemHoverEffect {
  position: absolute;
  height: 100%;
  width: 0px;
  background-color: rgb(242, 242, 242);
  transition: 0.2s;
}

.navSubItemText {
  width: fit-content;
  z-index: 69;
  margin-left: 10px;
}

.categoryNewArrivalContainer {
  display: flex;
  flex: 1;
  height: 100%;
  padding-bottom: 20px;
}

.categoryNewArrivalItem {
  width: 50%;
  height: 100%;
  background-color: rgb(235, 235, 235);
  position: relative;
  cursor: pointer;
}

.categoryNewArrivalItemImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@keyframes newArrivalTextAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.categoryNewArrivalItemText {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: rgb(247, 247, 247);
  color: black;
  font-family: var(--jost-font);
  opacity: 0;
  animation: newArrivalTextAnimation 0.5s ease 1 forwards;
}

.userControlExpand {
  position: absolute;
  /* height: 300px; */
  width: 250px;
  right: -14px;
  top: 38px;
  border: 1px solid rgb(186, 186, 186);
  /* border-top: 1px solid rgb(235, 235, 235);
  border-bottom: 1px solid rgb(235, 235, 235); */
  background-color: white;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 69;
  transition: 0.2s;
  opacity: 0;
}

.userControlExpandVisible {
  opacity: 1;
}

.userControlExpandArrow {
  position: absolute;
  background-color: white;
  border: 1px solid rgb(186, 186, 186);
  height: 45px;
  width: 45px;
  top: -3px;
  transform: rotate(45deg);
  transition: 0.2s;
}

.arrowExtraFiller {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: white;
  z-index: 65;
}

.userControlExpandContainer {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 79;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
}

.userControlExpandHeading {
  font-family: var(--jost-font);
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin-top: 25px;
  text-transform: uppercase;
  height: fit-content;
  cursor: pointer;
}

.userControlExpandItemList {
  display: flex;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 25px;
}

.userControlExpandItem {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.userControlExpandItem:hover .useControlExpandItemHover {
  width: 100%;
}

.userControlExpandItemName {
  font-family: var(--jost-font);
  font-size: 14px;
  z-index: 55;
}

.useControlExpandItemHover {
  position: absolute;
  width: 0;
  height: 100%;
  background-color: rgb(242, 242, 242);
  left: 0;
  transition: 0.2s;
  z-index: 50;
}

.userControlIconAndExpandSpaceFiller {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 50px;
  top: -20px;
  z-index: 99;
}

.navbarContainerCenter {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  top: 55px;
  left: 0;
}

.mobileNavBtn {
  height: 30px;
  width: 30px;
  /* background-color: brown; */
  display: none;
  transition: 0.5s;
}

.mobileNavBar {
  height: 0px;
  width: 100%;
  background-color: white;
  position: absolute;
  z-index: 999;
  top: 98px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 20px;
  transition: 0.3s ease-in-out;
  /* opacity: 0; */
  overflow: hidden;
}

.mobileNavBarVisible {
  opacity: 1;
  padding-top: 20px;
  height: calc(100% - 90px);
}

.categorySection {
  margin-bottom: 50px;
}

.mobileNavSubItemList {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
  width: 100%; */
  display: flex;
  flex-wrap: wrap;
}

.mobileNavSubItem {
  font-family: var(--jost-font);
  font-size: 14px;
  margin-right: 40px;
  padding: 15px 0;
}

.categorySectionTitle {
  font-family: var(--jost-font);
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.headingAndNav {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .headerContainer {
    height: 90px;
    /* margin-bottom: 10px; */
  }
  .headerSpacing {
    border: none;
    width: 100%;
    justify-content: start;
  }
  .navbarContainer {
    display: none;
  }
  .userControls {
    display: none;
  }
  .heading {
    font-size: 2.5em;
  }
  .mobileNavBtn {
    display: flex;
    margin-left: auto;
  }
  .headingAndNav {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  .navbarContainerCenter {
    display: none;
  }
}
