.headerContainer {
  height: 190px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.headerSpacing {
  width: 100%;
  max-width: 90rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.heading {
  font-family: "Italiana";
  font-size: 42px;
  /* font-weight: 400; */
  text-transform: uppercase;
  cursor: pointer;
}

.userControls {
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  right: 0px;
  display: flex;
  align-items: center;
  margin-right: 13px;
}

.userControlIcon:last-child {
  margin-right: 0px;
}

.navbarContainer {
  width: auto;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
}

.navbarItemContainer {
  width: fit-content;
}

.navbarItem {
  padding: 0 25px;
  cursor: pointer;
}

.navbarItem:last-child {
  margin-right: 0px;
}

.navbarItemTitle {
  font-weight: 400;
  font-family: "Jost";
  font-size: 15px;
  text-transform: uppercase;
}

.useControlIconSpacing {
  padding: 0 10px;
}

.userControlIcon {
  /* margin-right: 10px; */
  cursor: pointer;
}

.navbarExpandSpacing {
  height: 100%;
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 40px 100px 0px 100px;
  display: flex;
  flex-direction: row;
}

.navbarExpandContainer {
  position: absolute;
  height: 300px;
  width: 100vw;
  top: 140px;
  background-color: white;
  z-index: 99;
  border-bottom: 3px solid rgb(240, 240, 240);
  transition: 0.2s;
  opacity: 0;
  z-index: 0;
  display: flex;
  flex-direction: row;
}

.navbarExpandVisible {
  opacity: 1;
  z-index: 99;
}

.navSubItemContainer {
  display: grid;
  grid-template-rows: 50px 50px 50px 50px;
  grid-template-columns: 250px 250px;
  transition: 0.2s;
  margin-right: 30px;
}

.navSubItem {
  padding: 10px;
  margin-bottom: 10px;
  font-family: "Jost";
  font-weight: 400;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.navSubItem:hover .navSubItemHoverEffect {
  width: 100%;
}
.navSubItemHoverEffect {
  position: absolute;
  height: 100%;
  width: 0px;
  background-color: rgb(242, 242, 242);
  transition: 0.2s;
}

.navSubItemText {
  width: fit-content;
  z-index: 69;
  margin-left: 10px;
}

.categoryNewArrivalContainer {
  display: flex;
  flex: 1;
  height: 100%;
  padding-bottom: 20px;
}

.categoryNewArrivalItem {
  width: 50%;
  height: 100%;
  background-color: rgb(235, 235, 235);
  position: relative;
  cursor: pointer;
}

.categoryNewArrivalItemImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.categoryNewArrivalItemText {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: black;
  color: white;
  font-family: "Jost";
}

.userControlExpand {
  position: absolute;
  /* height: 300px; */
  width: 250px;
  right: -15px;
  top: 35px;
  border: 1px solid rgb(235, 235, 235);
  /* border-top: 1px solid rgb(235, 235, 235);
  border-bottom: 1px solid rgb(235, 235, 235); */
  background-color: white;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 69;
  transition: 0.2s;
  opacity: 0;
}

.userControlExpandVisible {
  opacity: 1;
}

.userControlExpandArrow {
  position: absolute;
  background-color: white;
  border: 1px solid rgb(235, 235, 235);
  height: 45px;
  width: 45px;
  top: -3px;
  transform: rotate(45deg);
  transition: 0.2s;
}

.arrowExtraFiller {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: white;
  z-index: 65;
}

.userControlExpandContainer {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 79;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
}

.userControlExpandHeading {
  font-family: "Jost";
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin-top: 25px;
  text-transform: uppercase;
  height: fit-content;
}

.userControlExpandItemList {
  display: flex;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 25px;
}

.userControlExpandItem {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.userControlExpandItem:hover .useControlExpandItemHover {
  width: 100%;
}

.userControlExpandItemName {
  font-family: "Jost";
  font-size: 14px;
  z-index: 55;
}

.useControlExpandItemHover {
  position: absolute;
  width: 0;
  height: 100%;
  background-color: rgb(242, 242, 242);
  left: 0;
  transition: 0.2s;
  z-index: 50;
}
