.profileContainer {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  z-index: 169;
  padding-top: 50px;
  padding-bottom: 101px;
}

.profileSpacing {
  display: flex;
  width: 100%;
  max-width: 90rem;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  height: fit-content;
}

.sectionHeading {
  font-family: var(--jost-font);

  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.filterSection {
  width: 350px;
  min-height: 280px;
  height: fit-content;
  border-right: 1px solid rgb(222, 222, 222);
  display: flex;
  flex-direction: column;
}

.optionSection {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  flex: 1;
  padding: 0 100px;
  /* grid-template-rows: 50px 50px 50px 50px; */
  /* grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 40px; */
}

.basicDetailSection {
  padding-bottom: 60px;
}

.sectionTitle {
  font-family: var(--jost-font);

  font-weight: 500;
  margin-bottom: 30px;
}

.plainInputName {
  font-family: var(--jost-font);

  font-size: 14px;
  color: rgb(107, 107, 107);
  font-weight: 400;
  text-transform: capitalize;
}

.plainInputField {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(107, 107, 107);
  padding: 10px 0;
  font-size: 18px;
  font-family: var(--jost-font);

  font-weight: 500;
}

.basicDetailForm {
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}

.passwordSection {
  padding-top: 60px;
  border-top: 1px solid rgb(222, 222, 222);
}

.filterItem {
  width: 90%;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
}

.filterItem:hover .filterItemHoverEffect {
  width: 100%;
}

.filterItemText {
  font-family: var(--jost-font);

  font-size: 14px;
  font-weight: 400;
  width: fit-content;
  z-index: 69;
  margin-left: 10px;
  transition: 0.2s;
  text-transform: capitalize;
}

.filterItemHoverEffect {
  position: absolute;
  height: 100%;
  width: 0px;
  background-color: rgb(242, 242, 242);
  transition: 0.2s;
}

@for $i from 1 through 50 {
  .sectionGridItem:nth-child(#{$i}) {
    // animation-delay: 100ms * $i;
  }
}

// @for $i from 1 through 50 {
//   .removeBtn:nth-child(#{$i}) {
//     animation-delay: 200ms * $i;
//   }
// }

@keyframes itemRenderAnimation {
  0% {
    opacity: 0;
    transform: translateY(+60px);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

.sectionItemsGrid {
  display: grid;
  // grid-template-columns: repeat(auto-fit, 180px);
  // grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-columns: 180px 180px 180px;
  grid-row-gap: 80px;
  grid-column-gap: 20px;
  flex: 1;
}

.sectionGridItem {
  width: 180px;
  height: 220px;
  cursor: pointer;
  animation: itemRenderAnimation 500ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.sectionGridItem:nth-child(1) {
  // grid-row-start: 5;
}

// @for $i from 3 through 100 {
//   .sectionGridItem:nth-child(#{$i}) {
//     grid-column-end: 1;
//   }
// }

.sectionGridItemImage {
  width: 180px;
  height: 180px;
  background-color: rgb(240, 240, 240);
  margin-bottom: 10px;
  object-fit: cover;
}

.sectoinGridItemDetail {
  height: 40px;
  font-family: var(--jost-font);

  font-weight: 400;
  font-size: 14px;
}

@keyframes removeBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.removeBtn {
  position: absolute;
  top: -8px;
  right: -8px;
  opacity: 0;
  animation: removeBtnAnimation 1s ease forwards;
  // animation-delay: ;
  z-index: 100;
  cursor: pointer;
}

.buttonContainer {
  margin-top: 60px;
}

.loadingContainer {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .profileSpacing {
    flex-direction: column;
  }
  .filterSection {
    width: fit-content;
    overflow-x: scroll;
    flex-direction: row;
    height: auto;
    min-height: auto;
    padding: 0 100px;
    margin-bottom: 50px;
    border-right: none;
  }
  .filterItem {
    height: fit-content;
    margin-bottom: 0;
    min-width: fit-content;
    margin-right: 30px;
  }
  .profileContainer {
    padding-top: 20px;
  }
}

@media (max-width: 768px) {
  .filterSection {
    padding: 0;
    margin-bottom: 10px;
  }
  .optionSection {
    padding: 20px;
  }
  .sectionItemsGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column: 0;
    column-gap: 10px;
  }
  .sectionGridItem {
    width: auto;
  }
  .sectionGridItemImage {
    width: 100%;
  }
  .gridItemMainContainer {
    width: 100%;
  }
  .basicDetailForm {
    grid-template-columns: 1fr;
  }
}
