.footerContainer {
  /* height: 50vh; */
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  background-color: #f3f3f3;
  padding: 80px 20px;
  bottom: 0;
}

.footerSpacing {
  width: 100%;
  max-width: 90rem;
  height: 100%;
}

.footerHeading {
  font-family: var(--jost-font);
  font-weight: 400;
  font-size: 3em;
  text-transform: uppercase;
  color: #787878;
  cursor: pointer;
}

.navbarContainer {
  width: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.navbarItem {
  margin-right: 50px;
  cursor: pointer;
}

.navbarItem:last-child {
  margin-right: 0px;
}

.navbarItemTitle {
  font-weight: 400;
  font-family: var(--jost-font);
  color: #787878;
  font-size: 15px;
  text-transform: uppercase;
}

.footerSiteInfo {
  font-family: var(--jost-font);
  color: #787878;
  margin-top: 20px;
}

.footerSiteInfoLink {
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 768px) {
  .footerHeading {
    font-size: 2em;
  }
  .footerContainer {
    height: auto;
    padding: 50px 30px;
  }
  .footerSpacing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
